@charset "UTF-8";

body{
	margin:0px;
	background-image: url('/img/background3.png');
}

li{ list-style: none !important; }
a{ text-decoration: none !important; color: gray; }


#header{
	background: cornflowerblue;
}

#top div{
	display: inline-block;
}

/*유저 메뉴*/
input[id="menuicon"]{
	display: none;
}
input[id="menuicon"] + label{
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}
input[id="menuicon"] + label span{
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #A3A1FC;
	transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
	top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
	bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

#userMenu{
	display: inline-block;
	width: 150px;
	height: auto;
}

.userMenuBtn{
	padding: 15px;
	margin: 10px 10px 5px 0px;
	width: 150px;
	border: 1.5px solid #F4F4F4;
	border-radius: 20px;
	text-align: center;
	background: #F4F4F4;
	display: inline-block;
	color: gray;
	cursor: pointer;
}

#mypageImg{
	background: white;
	border-radius: 100%;
	border: 3px solid #5FEAC9;
}



/* 검색 */
#serachIcon{
	cursor: pointer;
}

#serachBoxH1{
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.serachBox{
	/* position: absolute */; 
/*  	top:50%;
	left: 50%; */
	width: 100%;
	/* transform : translate(-50%,-50%); */
}
.searchBox input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;

}
input[id="mainSearch"]{
	background: #fff;
	width: 340px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
	
}
input[id="mainTotalSearch"]{
 	position: relative;
	left:5px;
	border-radius: 0 25px 25px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #A3A1FC;
	text-align: center;
	color: white;
	transition: all ease 0.2s 0s;
}
input[id="mainTotalSearch"]:hover {
	background: #CBCAFF;
}

.modal-content{
	//background-image: url('/img/serachBackground.jpg');
	
}

/* 네온사인 */
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}


.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
/*   background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  ); */
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 4em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/*
	table 줄넘어가면 짤리는거
*/


