<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.BoardDao">
  <select id="listBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select *from board
  </select>
  
  <select id="getBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select *from board where b_no=#{b_no}
  </select>
  
  <select id="listCatBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select *from board b, category c where b.c_no=c.c_no and c.c_dist = #{catkeyword}
  </select>
  
  <select id="getListWithPaging" resultType="com.aeho.demo.vo.BoardVo">
  	<![CDATA[
  		select
  			b_no, m_id, c_no, b_title, b_content, b_date, b_updatedate, b_hit, b_replycnt, b_lovecnt, b_hatecnt
  		from
  			(
  				select /*+ INDEX_DESC(board pk_board)*/
  					rownum rn, b_no, m_id, c_no, b_title, b_content, b_date, b_updatedate, b_hit, b_replycnt, b_lovecnt, b_hatecnt
  				from board
  				where rownum<=#{pageNum} * #{amount}
  			)
  		where rn > (#{pageNum}-1) * #{amount} and c_no=#{categoryNum}
  	]]>
  </select>
  
  <insert id="insertBoard">
  	insert into board(b_no, m_id, c_no, b_title, b_content, b_hit, b_replycnt, b_lovecnt, b_hatecnt)
  	values(seq_board.nextval,#{m_id},#{c_no},#{b_title},#{b_content},0,0,0,0)
  </insert>
  
  <update id="updateBoard">
  	update board set b_title = #{b_title}, b_content=#{b_content}, b_updatedate=sysdate
  	where b_no=#{b_no}
  </update>
  
  <update id="updateCnt">
  	update board set
  	<choose>
	  	<when test="cntkeyword != null and cntkeyword.equals('love')">
	  		b_lovecnt = b_lovecnt + 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('minusLove')">
	  		b_lovecnt = b_lovecnt - 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('hate')">
	  		b_hatecnt = b_hatecnt + 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('minusHate')">
	  		b_hatecnt = b_hatecnt - 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('hit')">
	  		b_hit = b_hit + 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('reply')">
	  		b_replycnt = b_replycnt + 1
	  	</when>
  	</choose>
  	where b_no = #{b_no}
  </update>
  
  <!-- 시큐리티시  id 추가. -->
  <delete id="deleteBoard">
  	delete board where b_no=#{b_no}
  </delete>
  
</mapper>