<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.BoardDao">
  <select id="listBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select *from board
  </select>
  
  <select id="getBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select b.*,m_nick from board b,member m where b.b_no = #{b_no} and b.m_id=m.m_id
  </select>
  
  <select id="listCatBoard" resultType="com.aeho.demo.vo.BoardVo">
  	select *from board b, category c where b.c_no=c.c_no and c.c_dist = #{catkeyword}
  </select>
  
   <sql id="searchSql">
  	<choose>
  		<when test="searchField != null and !searchField.equals('') and searchField.equals('all')">
			and (b_title like '%'||#{keyword}||'%' or b_content like '%'||#{keyword}||'%' or m_id like '%'||#{keyword}||'%')
		</when>
		<when test="searchField != null and !searchField.equals('') and (searchField.equals('b_title') or searchField.equals('b_content') or searchField.equals('m_id'))">
			and ${searchField} like '%'||#{keyword}||'%'
		</when>
		<when test="searchField != null and !searchField.equals('') and searchField.equals('doc')">
			and (b_title like '%'||#{keyword}||'%' or b_content like '%'||#{keyword}||'%')
		</when>
  	</choose>
  </sql>
  
  <select id="getListWithPaging" resultType="com.aeho.demo.vo.BoardVo">
  	<![CDATA[
  		select
  			 b_no, m_id, m_nick, c_no, c_dist, b_title, b_content, b_date, b_updatedate, b_hit, b_replycnt, b_lovecnt, b_hatecnt, b_reportcnt
		  		from ( select /*+ INDEX_DESC(board pk_board)*/
		            rownum rn, b_no, b.m_id, m.m_nick, c.c_dist c_dist, b.c_no, b_title, b_content, b_date, b_updatedate, b_hit, b_replycnt, b_lovecnt, b_hatecnt, b_reportcnt
		  				from (select *from board order by b_no desc) b, category c, member m
		                    where rownum <= #{pageNum} * #{amount} and b.c_no=c.c_no and m.m_id = b.m_id
  				]]>
  				<choose>
  				  	<when test="categoryNum == 10000">
  				  		<![CDATA[
  							and b.c_no>10000 and b.c_no<10010
  						]]>
  					</when>
  					<when test="categoryNum == 9999">
  						<![CDATA[
  							and b.c_no<10000
  						]]>
  					</when>
  					<when test="categoryNum != 0">
  						and b.c_no=#{categoryNum}
  					</when>
  					<when test="categoryNum == 0">
  						and b_reportcnt >= 5
  					</when>
			  		<when test="searchField != null and !searchField.equals('') and searchField.equals('all')">
						and (b_title like '%'||#{keyword}||'%' or b_content like '%'||#{keyword}||'%' or b.m_id like '%'||#{keyword}||'%')
					</when>
					<when test="searchField != null and !searchField.equals('') and (searchField.equals('b_title') or searchField.equals('b_content') or searchField.equals('m_id'))">
						and b.${searchField} like '%'||#{keyword}||'%'
					</when>
					<when test="searchField != null and !searchField.equals('') and searchField.equals('doc')">
						and (b_title like '%'||#{keyword}||'%' or b_content like '%'||#{keyword}||'%')
					</when>
					<when test="searchField != null and !searchField.equals('') and searchField.equals('m_nick')">
						and m.${searchField} like '%'||#{keyword}||'%'
					</when>
			  	</choose>
  	<![CDATA[
  			)
  		where rn > (#{pageNum}-1) * #{amount} 
  	]]>
  </select>  
  
  <select id="getTotalCount" resultType="int">
  	select count(*) from board where b_no>0 and c_no=#{categoryNum} <include refid="searchSql"></include>
  </select>
  
  <!-- 유저 공지사항 토탈 -->
  <select id="getNoticCount" resultType="int">
	<![CDATA[
  		select count(*) from board where b_no>0 and c_no>10000 and c_no<10010
  	]]>
  		<include refid="searchSql"></include>
  </select>
  
  <!-- 신고수가 많은 게시물 -->
  <select id="getReportCount" resultType="int">
  	select count(*) from board where b_reportcnt>=5
  </select>
  
  <!-- 회원 전체글을 위한 전체 게시물 숫자-->
  <select id="totalBoard" resultType="int">
  	<![CDATA[
  		select count(*) from board where c_no<10000
  	]]>	
  		<include refid="searchSql"></include>
  </select>
  
  <select id="getMypageBoard" resultType="com.aeho.demo.vo.BoardVo">
  	<![CDATA[ 	
	  	select rownum rn, b_no, m_id, c_dist, c_no, b_title, b_date from
	    	(select b_no, c_dist, m_id, b.c_no, b_title, b_date from board b, category c where b.c_no=c.c_no and m_id=#{m_id} order by b_no desc)
	        	where rownum<=8 and c_no<1000
    ]]> 
  </select>
  
  
  <!-- 관리자 공지사항 관리자 메인 페이지 용도 -->
  <select id="getAdminNotice" resultType="com.aeho.demo.vo.BoardVo">
  	<![CDATA[
  		select rownum rn, b_no, b_title, m_id, b_date from (select *from board where c_no=10010 order by b_no desc) where rownum<=5
  	]]>
  </select>
  
  <!-- 관리자 유저 공지사항 메인 페이지 용도 -->
  <select id="getUserNotice" resultType="com.aeho.demo.vo.BoardVo">
 	 <![CDATA[
  		select rownum rn, b_no, c_no, b_title, m_id, b_date from (select *from board where c_no>10000 and c_no<10010 order by b_no desc) where rownum<=5
  	]]>
  </select>

  
  <insert id="insertBoard">
  	<selectKey keyProperty="b_no" order="BEFORE" resultType="int">
  		select seq_board.nextval from dual
  	</selectKey>
  	insert into board(b_no, m_id, c_no, b_title, b_content, b_hit, b_replycnt, b_lovecnt, b_hatecnt)
  	values(#{b_no},#{m_id},#{c_no},#{b_title},#{b_content},0,0,0,0)
  </insert>
  
  <update id="updateBoard">
  	update board set b_title = #{b_title}, b_content=#{b_content}, b_updatedate=sysdate
  	where b_no=#{b_no}
  </update>
  
  <update id="updateCnt">
  	update board set
  	<choose>
	  	<when test="cntkeyword != null and cntkeyword.equals('love')">
	  		b_lovecnt = (select count(*) from love where b_no = #{b_no})
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('hate')">
	  		b_hatecnt = (select count(*) from hate where b_no = #{b_no})
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('hit')">
	  		b_hit = b_hit + 1
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('reply')">
	  		b_replycnt = (select count(*) from reply where b_no = #{b_no} and r_state != 1)
	  	</when>
	  	<when test="cntkeyword != null and cntkeyword.equals('report')">
	  		b_reportcnt = b_reportcnt+1
	  	</when>
  	</choose>
  	where b_no = #{b_no}
  </update>
  
  <!-- 시큐리티시  id 추가. -->
  <delete id="deleteBoard">
  	delete board where b_no=#{b_no}
  </delete>
  
  <!-- 메인페이지 용 최근 게시물 -->
  <select id="mainNewBoard" resultType="com.aeho.demo.vo.BoardVo">
  	<![CDATA[
	  	select rownum rn, c_dist, b_no, c_no, b_title, m_id, b_date, m_nick 
	   	 from (select c.c_dist, b_no, b.c_no, b_title, b.m_id, b_date, m.m_nick from board b, category c, member m
            where b.c_no = c.c_no and b.m_id=m.m_id and b.c_no<10000 order by b_no desc) 
                where rownum<=5
	]]>
  </select>
  
</mapper>