<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.GoodsReplyDao">
  <select id="listGoodsReply" resultType="com.aeho.demo.vo.GoodsReplyVo">
<!--
  	select * from goodsReply where g_no=#{g_no}  -->
  	select * from goodsReply where g_no=#{g_no} order by gr_ref,gr_no
  </select>
  
  <select id="getGoodsReply" resultType="com.aeho.demo.vo.GoodsReplyVo">
  	select * from goodsReply where gr_no=#{gr_no}
  </select>
  
  <insert id="insertGoodsReply">
  	<selectKey keyProperty="gr_no" order="BEFORE" resultType="int">
  		select seq_goodsReply.nextval from dual
  	</selectKey>
  	insert into goodsReply(gr_no, g_no, m_id, gr_content,gr_ref,gr_refid,gr_level,gr_step,gr_reCnt,gr_state)
    values(#{gr_no}, #{g_no}, #{m_id}, #{gr_content},
     <choose>
     	<when test="gr_ref==0">
     		#{gr_no},#{m_id}
     	</when>
      	<otherwise>
      		#{gr_ref},#{gr_refid}
      	</otherwise>
      </choose>
      ,#{gr_level},#{gr_step},#{gr_reCnt},#{gr_state})
  </insert>
    
  <delete id="deleteGoodsReply">
  	delete goodsReply where gr_no = #{gr_no}
  </delete>
  
  <delete id="deleteGoodsandReply">
  	delete goodsReply where g_no = #{g_no}
  </delete>

  <select id="maxGrstep" resultType="int">
	select max(gr_step) from (select * from goodsReply where gr_ref=#{gr_ref})
  </select>
 <!--  
  <select id="cntRef" resultType="int">
  	select count(*) from goodsReply where gr_ref=#{gr_ref} and gr_no != ${gr_ref}
  </select>
  --> 
  <update id="updateCnt">
  	update goodsReply set gr_reCnt=(select count(*) from goodsReply where gr_ref=#{gr_ref} and gr_no != ${gr_ref}) where gr_no=#{gr_ref}
  </update>
  
  <update id="updateState">
  	update goodsReply set gr_state=1 where gr_no=#{gr_no}
  </update>
</mapper>