<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.GoodsReplyDao">
  <select id="listGoodsReply" resultType="com.aeho.demo.vo.GoodsReplyVo">
  	select * from goodsReply where g_no=#{g_no}
  </select>
  
  <insert id="insertGoodsReply">
  	insert into goodsReply(gr_no, g_no, m_id, gr_content)
  	values(seq_goodsreply.nextval, #{g_no}, #{m_id}, #{gr_content})
  </insert>
  
  <!-- m_id 확인 쿼리 추가 예정 -->
  <update id="updateGoodsReply">
  	update goodsReply set gr_content = #{gr_content}
  	where gr_no = #{gr_no}
  </update>
  
  <delete id="deleteGoodsReply">
  	delete goodsReply where gr_no = #{gr_no}
  </delete>
  
    <delete id="deleteGoods">
  	delete goodsReply where g_no=#{g_no}
  </delete>
  
</mapper>