<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.GoodsDao">
  <select id="listGoods" resultType="com.aeho.demo.vo.GoodsVo">
  	select g.*, m_nick from goods g, member m
  	<choose> 
  		<when test="gc_code != 0">
  			where gc_code = #{gc_code}
  		</when>
  		<otherwise>
  			where gc_code > 0
  		</otherwise>
  	</choose>
  	<if test="keyword != null">
  		 and g.c_no=(select g.c_no from category c where c.c_no=g.c_no and c_dist=#{keyword})
  	</if>
  	and g.m_id=m.m_id
  </select>
  
  <select id="getGoods" resultType="com.aeho.demo.vo.GoodsVo">
  	select g.*,m_nick from goods g,member m where g.g_no = #{g_no} and g.m_id=m.m_id
  </select>
  
  <sql id="searchSql">
  	<choose>
  		<when test="searchField != null and !searchField.equals('') and searchField.equals('all')">
  			and (g_title like '%'||#{searchKeyword}||'%' or g_content like '%'||#{searchKeyword}||'%' or g.m_id like '%'||#{searchKeyword}||'%')
  		</when>
  		<when test="searchField != null and !searchField.equals('') and (searchField.equals('g_title') or searchField.equals('g_content') or searchField.equals('m_id'))">
  			and g.${searchField} like '%'||#{searchKeyword}||'%'
  		</when>
  		<when test="searchField != null and !searchField.equals('') and searchField.equals('doc')">
  			and (g_title like '%'||#{searchKeyword}||'%' or g_content like '%'||#{searchKeyword}||'%')
  		</when>
  	</choose>
  </sql>
  
  <select id="paging" resultType="com.aeho.demo.vo.GoodsVo">
  	<![CDATA[
  		select
  			g_no, gc_code, m_id, g_title, g_content, g_price, g_date, g_updatedate, g_replycnt, c_no, m_nick
  		from
  			(
  				select /*+ INDEX_DESC(goods pk_goods)*/
  					rownum rn, g_no, gc_code, g.m_id, g_title, g_content, g_price, g_date, g_updatedate, g_replycnt, c_no, m_nick
  				from (select * from goods order by g_updatedate desc) g, member m 
  				where rownum <= #{pageNum} * #{amount} 
  				]]>
  				
  				<choose>
		  			<when test="gc_code != 0">
  						and gc_code = #{gc_code}
  					</when>
  					<otherwise>
  						and gc_code > 0
  					</otherwise>
  				</choose>
  				<if test="keyword != null and keyword != ''">
  					 and g.c_no in (select g.c_no from category c, goods g where c.c_no=g.c_no and c_dist=#{keyword})
  				</if>
  				<if test="searchKeyword != null and searchKeyword != ''">
  					<include refid="searchSql"></include>
  				</if>
  				 and m.m_id=g.m_id
  			<![CDATA[
  			)
  		where rn > (#{pageNum}-1) * #{amount} 
  	]]>  
  </select>
  
  <select id="getTotalCount" resultType="int">
  	select count(*) from goods g
  	<choose>
  		<when test="gc_code != 0">
  			where gc_code = #{gc_code}
  		</when>
  		<otherwise>
  			where gc_code > 0
  		</otherwise>
  	</choose>
  	<if test="keyword != null">
  		 and g.c_no=(select g.c_no from category c where c.c_no=g.c_no and c_dist=#{keyword})
  	</if>
  	<if test="searchKeyword != null">
  					<include refid="searchSql"></include>
	</if>
  </select>
  
  <insert id="insertGoods">
  <selectKey keyProperty="g_no" order="BEFORE" resultType="int">
  	select seq_goods.nextval from dual
  </selectKey>
  	insert into goods(g_no, gc_code, m_id, g_title, g_content, g_price, g_replycnt,c_no)
  	values(#{g_no}, #{gc_code}, #{m_id}, #{g_title}, #{g_content}, #{g_price}, 0,#{c_no})
  </insert>
  
  <update id="updateGoods">
  	update goods set g_title = #{g_title}, g_content=#{g_content}, g_price=#{g_price}
  	where g_no = #{g_no}
  </update>
  
  <update id="updateCnt">
  	update goods set
  	<choose>
  		<when test="cntKeyword != null and cntKeyword.equals('reply')">
  			g_replycnt = (select count(*) from goodsReply where g_no = #{g_no} and gr_state != 1)
  		</when>
  		<when test="cntKeyword != null and cntKeyword.equals('report')">
  			g_reportcnt = (select count(*) from report where g_no = #{g_no})
  		</when>
  	</choose> 
    where g_no=#{g_no}
  </update>
  
  <delete id="deleteGoods">
  	delete goods where g_no = #{g_no}
  </delete>
  
  <select id="getReportGoods" resultType="com.aeho.demo.vo.GoodsVo">
   <![CDATA[
  	select g_no, gc_code, m_id, g_title, g_content, g_price, g_date, g_updatedate, g_replycnt, c_no, g_reportcnt
  		from
  			(
  				select
  					rownum rn, g_no, gc_code, m_id, g_title, g_content, g_price, g_date, g_updatedate, g_replycnt, c_no, g_reportcnt
  				from (select * from goods order by g_date desc)
  				where g_reportcnt >= 5 and rownum <= #{pageNum} * #{amount} 
  			)
  		where rn > (#{pageNum}-1) * #{amount}
  ]]>
  </select>
  
  <!-- 마이페이지 메인용 굿즈 목록 뽑는거 -->
    <select id="getMypageGoods" resultType="com.aeho.demo.vo.GoodsVo">
  	<![CDATA[ 	
	  	select rownum rn, g_no, gc_code, m_id, c_dist, c_no, g_title, g_date from
	    	(select g_no, g.gc_code, m_id, c_dist, g.c_no, g_title, g_date from goods g, category c, goodscode gc where g.c_no=c.c_no and g.gc_code = gc.gc_code and m_id='tiger' order by g_no desc)
	        	where rownum<=8 and c_no>1000 and c_no<10000
    ]]> 
  </select>
  
  <select id="mainNewGoods" resultType="com.aeho.demo.vo.GoodsVo">
  	<![CDATA[
	  	select rownum rn, g_no, gc_code, m_id, m_nick, c_no, g_title, g_date, g_updatedate, g_content
	   	 from (select g_no, gc_code, g.m_id, m.m_nick, c_no, g_title, g_date, g_updatedate, g_content from goods g, member m where m.m_id = g.m_id and c_no > 1001 and c_no < 1100 order by g_no desc) 
	        where rownum <= 3
	]]>
  </select>
</mapper>