<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.ReplyDao">
  <select id="listReply" resultType="com.aeho.demo.vo.ReplyVo">
  	select *from reply where b_no=#{b_no}
  </select>
  
  <insert id="insertReply">
  	insert into reply(r_no, b_no, m_id, r_content)
  	values(seq_reply.nextval,#{b_no},#{m_id},#{r_content})
  </insert>
  
  <!-- 시큐리티시  id 추가. -->
  <delete id="deleteReply">
  	delete reply where r_no=#{r_no}
  </delete>
  
</mapper>