<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.SearchDao">

 	<select id="getCategory" resultType="com.aeho.demo.vo.CategoryVo">
 		select * from category where c_dist like '%'||#{keyword}||'%' 
 	</select>
 	
 	<select id="getBoard" resultType="com.aeho.demo.vo.BoardVo">
 		select b_no, b_title, b_date, b_updatedate, b_replycnt, c.c_dist, b.c_no 
 		from board b, category c where b.c_no=c.c_no and b_no in 
 		(select b_no from board where b_title like '%'||#{keyword}||'%' or b_content like '%'||#{keyword}||'%')
 		order by b_updatedate desc
 	</select>
 	
 	<select id="getGoods" resultType="com.aeho.demo.vo.GoodsVo">
 		select g_no, gc_code, g_title, g_content, g_updatedate, g_replycnt, c.c_dist, g.c_no 
 		from goods g, category c where g.c_no=c.c_no and g_no in 
 		(select g_no from goods where gc_code=1 and g_title like '%'||#{keyword}||'%' or g_content like '%'||#{keyword}||'%')
 		order by g_updatedate desc
 	</select>
  
</mapper>