<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeho.demo.dao.VoteDao">
  <select id="listVote" resultType="com.aeho.demo.vo.VoteVo">
  	select *from vote
  </select>
  
  <select id="getVote" resultType="com.aeho.demo.vo.VoteVo">
  	select *from vote where v_no = #{v_no} and m_id=#{m_id}
  </select>
  
  <select id="findByVoteTopic" resultType="com.aeho.demo.vo.VoteVo">
  	select * from vote where vt_no = #{vt_no}
  </select>
  
  <insert id="insertVote">
  	insert into vote(v_no,m_id,vt_no,v_result)
  	values(seq_vote.nextval,#{m_id},#{vt_no},#{v_result})
  </insert>
  
  <update id="updateVote">
  	update vote set v_result = #{v_result} where v_no = #{v_no}
  </update>
 
  <delete id="deleteVote">
  	delete vote where vt_no=#{vt_no}
  </delete>
  
  <select id="isChecked" resultType="com.aeho.demo.vo.VoteVo">
  	select * from vote where vt_no = #{vt_no} and m_id = #{m_id}
  </select>
  
  <update id="updateVoteWhereID">
  	update vote set m_id = '탈퇴한 애호가' where m_id = #{m_id}
  </update>
  
</mapper>